<h1>Hola dime a quien saludar</h1>

<!-- imprimir  -->
<%= %>
<!-- evaluar una expresion -->
<% %>

<form  method="post" action="/crear">
<input type="text" name="titulo" id="titulo">
<input type="submit" name="">
</form>




<!-- imprimir  -->
<%= %>
<!-- evaluar una expresion -->
<% %>