<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body> 
	 <h1>Welcome to our Wiki!</h1>

	<p>Visit /PageName to view a page.</p>

	<p>Or, you can <a href="/new">create a new page</a>.</p>
  </body>
</html>